<section id="deatils-page">
    <div class="wrapper">
        <div class="product-img">
            <img src="{{houseData.imageUrl}}">
        </div>
        <div class="product-info">
            <div class="product-text">
                <div class="product-text">
                    <h1>Name: {{houseData.name}}</h1>
                    <h2>Type: {{houseData.type}}</h2>
                    <h4>Year: {{houseData.year}}</h4>
                    <h4>City: {{houseData.city}}</h4>
                    <p>Description: {{houseData.description}}</p>

                    {{#if rentedUsers}}
                        <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
                        <p>People rented this housing: {{rentedUsers}}</p>
                    {{else}}
                        <!-- If not display: -->
                        <p>People rented this housing: There are no tenants yet.</p>
                    {{/if}}
                </div>
            </div>

            <!-- if there is no registered user, do not display buttons-->
            <div class="product-btn">
                {{#if isOwner}}
                <!-- Only for registered user and creator of the housing offer-->
                <a href="/house/edit/{{houseData._id}}" class="edit">Edit</a>
                <a href="/house/delete/{{houseData._id}}" class="remove">Delete</a>
                {{else}}
               
                    {{#if isAvailable}}
                        {{#if isRented}}
                        <!-- logged in user with available pieces-->
                        <p class="alRentHome">You have already rent this home</p>
                        {{else}}
                        <a href="/house/rent/{{houseData._id}}" class="rentHome">Rent a home, available {{houseData.availablePieces}} housing</a>
                        {{/if}}
                    {{else}}
                        {{#if user}}
                        <!-- logged in user with no available pieces-->
                        <p class="no-housing">No Housing Available!</p>
                        {{/if}}
                    {{/if}}
              
                {{/if}}
            </div>
        </div>
    </div>
</section>